.rc-tools-wrap {
	display:flex;
  flex-direction:row;
  align-items: center;
  padding: 5px 0;
}
.rc-tools {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
  box-shadow: none;
  display: inline-flex;
}
.rc-tools .rc-tools-one-item {
  background-image: url('images/spritesheet.png');
	background-image: linear-gradient(transparent, transparent), url('images/spritesheet.svg');
	background-repeat: no-repeat;
	background-size: 300px 30px;
	background-clip: padding-box;

  display: block;
  text-align: center;
  text-decoration: none;

  background-position: -2px -2px;

  width: 30px;
  height: 30px;
  line-height: 30px;
}
.rc-tools .rc-tools-polygon {
  background-position: -29px -1px;
}
.rc-tools .rc-tools-rectangle {
  background-position: -60px -1px;
}
.rc-tools .rc-tools-circle {
  background-position: -90px -1px;
}
.rc-tools .rc-tools-marker {
  background-position: -120px -1px;
}

.rc-tools-split-vertical {
  width: 1px;
  height: 30px;
  background-color: #ccc;
}

.rc-aside-panel {
  position: absolute;
  left: 10px;
  top: 100px;
  /* border-right: 1px solid #eee; */
  /* padding: 10px; */
  font-size: 12px;
  /* background: #fcfcfc; */
  background: rgba(255,255,255,0.90);
  border-right: 1px solid #eee;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  border-radius: 10px;
}

.rc-panel-title {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  padding-bottom: 10px;
}

.rc-property-panel {
  position: absolute;
  right: 10px;
  top: 100px;
  /* border-right: 1px solid #eee; */
  border-radius: 10px;
  font-size: 12px;
  /* background: #fcfcfc; */
  background: rgba(255,255,255,0.90);
  overflow-y: hidden;
}

.leaflet-control-zoom{
  position: absolute;
  top: 800px;
  left: 10px;
  z-Index: 1000;
}

.rc-property-item{
  display: flex;
  align-items: center;
  margin-top: 10px; 
  font-size: 13px;
}

.rc-property-item-label{
  display: block; 
  width: 70px;
  text-align: right;
  margin-right: 10px;
}

input{
  height: 28px;
  border: 1px solid rgba(0,0,0,0.23);
  border-radius: 4px;
}